{
    "presets": [
        [
            "@babel/preset-env"//,
            // с этой опцией перестал работать интерактив в build mode
            // {
            //     "targets": {
            //         "esmodules": true
            //     }
            // }
        ]
    ],
    "sourceMaps": true,
    "plugins":
        ["@babel/plugin-proposal-object-rest-spread",
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "m",
            "pragmaFrag": "'['"
        }],
        // ["@babel/plugin-syntax-jsx"],
        ["jsx-control-statements"],
        ["@babel/plugin-transform-runtime", {
            "regenerator": true
        }]
    ]
}
