body {
	margin: 0;
	padding: 0;
	font-weight: 400;
    font-family: 'Roboto', sans-serif !important;
	font-size: 16px;
}

.app {
	padding: 2em;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    /* flex-direction: column; */
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}

.nav-bar {
    height: 100vh;
    top: 0px;
    transform: translateX(0%);
    width: 240px;
    min-width: 240px;
    max-height: calc(100% - 0px);

    padding: 24px 16px 0px 10px;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    pointer-events: auto;
    top: 0;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: transform,visibility,width;
}

.nav-bar a {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    column-gap: .25em;
    text-decoration: none;
}

.nav-bar> .nav-button.active >a {
    color: #222;
}

.nav-bar> .nav-button >a {
    color: #999;
}

.nav-bar> .nav-button.active >a:before {
    content: "";
    /* position: absolute; */
    top: 15px;
    left: -25px;
    width: 15px;
    border-top: 1px solid #1e87f0;
}

.main-page {
    /* padding: 64px 256px 0px 300px; */
    padding: 8px 30px 0px 30px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    max-width: calc(100% - 300px);
    transition: .2s cubic-bezier(.4,0,.2,1);
}

/* .nav-bar> :active, a:hover {
    outline: none;
} */

.mr5 {
    margin-right: 5px;
}

.mr15 {
    margin-right: 15px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.p10 {
    padding: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.font-icon-test {
    font-size: 20px;
}

.main-content {
    width: auto;
}

@media screen and (min-width: 720px) {

    .icons-container[content-vl25] {
        grid-template-columns: repeat(auto-fill,112px);
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.icons-container[content-vl25] {
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    display: grid;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    grid-template-columns: repeat(auto-fill,96px);
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    row-gap: 24px;
}

@media screen and (min-width: 720px) {

    [host-vl37] {
        height: 128px;
        width: 112px;
    }
}

[host-vl37] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    border: 0;
    border-radius: 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    height: 128px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 96px;
}

.icon-asset[content-vl37] {
    display: block;
    font-size: 40px;
    left: 50%;
    position: absolute;
    top: 40px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 88px;
}

.icon-name[content-vl37] {
    bottom: 32px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 50%;
    padding: 0 8px;
    position: absolute;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
    width: 100%;
}

.icon-container:hover {
    background: #f3f3f3;
}

.icon-container {
    color: #4d4d4d;
}

.title__preview-icon {
    display: block;
    font-size: 24px;
    height: 24px;
    width: 24px;
}

.title__name {
    margin-left: 12px;
    max-width: 176px;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
}

.tm-legend {
    width: 100%;
    color: inherit;
    padding: 0;
    font-size: 24px;
    line-height: 1.4;
}

*+.tm-margin {
    margin-top: 20px !important;
}

.tm-margin {
    margin-bottom: 20px;
}

.tm-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/*
 * TABLE
 */

.tm-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

.tm-table th {
    padding: 16px 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: normal;
    color: #999;
    text-transform: uppercase;
}

.tm-table td {
    padding: 16px 12px;
    vertical-align: top;
}

.tm-table-divider>tr:not(:first-child),
.tm-table-divider>:not(:first-child)>tr,
.tm-table-divider>:first-child>tr:not(:first-child) {
    border-top: 1px solid #e5e5e5;
}

.tm-table tbody tr {
    transition: background-color .1s linear;
}

.tm-checkbox:checked {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.tm-radio:checked, .tm-checkbox:checked, .tm-checkbox:indeterminate {
    background-color: #1867c0;
    border-color: transparent;
}

.tm-radio:not(:disabled), .tm-checkbox:not(:disabled) {
    cursor: pointer;
}
.tm-radio, .tm-checkbox {
    display: inline-block;
    height: 18px;
    width: 18px;
    overflow: hidden;
    margin-top: -2px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #ccc;
    transition: .2s ease-in-out;
    transition-property: background-color,border;
}

.tm-sublabel {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

/*
 * Remove default style in iOS.
 */
.tm-input,
.tm-textarea {
    -webkit-appearance: none;
}
/*
* 1. Prevent content overflow if a fixed width is used
* 2. Take the full width
* 3. Reset default
* 4. Style
*/
.tm-input,
.tm-select,
.tm-textarea {
/* 1 */
    max-width: 100%;
/* 2 */
    width: 100%;
/* 3 */
    border: 0 none;
/* 4 */
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
}

.tm-input,
.tm-select:not([multiple]):not([size]) {
    height: 40px;
    vertical-align: middle;
    /* 1 */
    display: inline-block;
}
/* 2 */
.tm-input:not(input),
.tm-select:not(select) {
    line-height: 38px;
}
/*
* Multi-line
*/
.tm-select[multiple],
.tm-select[size],
.tm-textarea {
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: top;
}
.tm-select[multiple],
.tm-select[size] {
    resize: vertical;
}
 /* Focus */
.tm-input:focus,
.tm-select:focus,
.tm-textarea:focus {
    outline: none;
    background-color: #fff;
    color: #666;
    border-color: #1e87f0;
}
/* Disabled */
.tm-input:disabled,
.tm-select:disabled,
.tm-textarea:disabled {
    background-color: #f8f8f8;
    color: #999;
    border-color: #e5e5e5;
}
/*
* Placeholder
*/
.tm-input::-ms-input-placeholder {
    color: #999 !important;
}
.tm-input::placeholder {
     color: #999;
}
.tm-textarea::-ms-input-placeholder {
   color: #999 !important;
}
.tm-textarea::placeholder {
   color: #999;
}

/* ========================================================================
   Component: Search
 ========================================================================== */
/*
 * 1. Container fits its content
 * 2. Create position context
 * 3. Prevent content overflow
 * 4. Reset `form`
 */
.tm-search {
/* 1 */
    display: inline-block;
/* 2 */
    position: relative;
/* 3 */
    max-width: 100%;
/* 4 */
    margin: 0;
}
/* Input
========================================================================== */
/*
* Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X.
*/
.tm-search-input::-webkit-search-cancel-button,
.tm-search-input::-webkit-search-decoration {
    -webkit-appearance: none;
}
/*
* Removes placeholder transparency in Firefox.
*/
.tm-search-input::-moz-placeholder {
    opacity: 1;
}
/*
* 1. Define consistent box sizing.
* 2. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
* 3. Remove `border-radius` in iOS.
* 4. Change font properties to `inherit` in all browsers
* 5. Show the overflow in Edge.
* 6. Remove default style in iOS.
* 7. Vertical alignment
* 8. Take the full container width
* 9. Style
*/
.tm-search-input {
    /* 1 */
    box-sizing: border-box;
    /* 2 */
    margin: 0;
    /* 3 */
    border-radius: 0;
    /* 4 */
    font: inherit;
    /* 5 */
    overflow: visible;
    /* 6 */
    -webkit-appearance: none;
    /* 7 */
    vertical-align: middle;
    /* 8 */
    width: 100%;
    /* 9 */
    border: none;
    color: #666;
}
.tm-search-input:focus {
    outline: none;
}
  /* Placeholder */
.tm-search-input:-ms-input-placeholder {
    color: #999 !important;
}
.tm-search-input::placeholder {
    color: #999;
}
/* Icon (Adopts `uk-icon`)
========================================================================== */
/*
* Remove default focus style
*/
.tm-search-icon:focus {
    outline: none;
}
/*
* Position above input
* 1. Set position
* 2. Center icon vertically and horizontally
* 3. Style
*/
.tm-search .tm-search-icon {
    /* 1 */
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 0; */
    /* 2 */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* 3 */
    color: #999;
}
/*
* Required for `a`.
*/
.tm-search .tm-search-icon:hover {
    color: #999;
}
/*
* Make `input` element clickable through icon, e.g. if it's a `span`
*/
.tm-search .tm-search-icon:not(a):not(button):not(input) {
    pointer-events: none;
}
/*
* Position modifier
*/
.tm-search .tm-search-icon-flip {
    right: 0;
    left: auto;
}
/* Default modifier
========================================================================== */
.tm-search-default {
    width: 240px;
}
/*
* Input
*/
.tm-search-default .tm-search-input {
    height: 40px;
    padding-right: 6px;
    padding-left: 46px;
    background: transparent;
    border: 1px solid #e5e5e5;
    transition: width 0.2s ease-in-out;
}

/* Focus */
.tm-search-default .tm-search-input:focus {
    width: 600px;
    background-color: transparent;
    border-color: #1e87f0 !important;
}
/*
* Icon
*/
.tm-search-default .tm-search-icon {
    width: 40px;
}
.tm-search-default .tm-search-icon:not(.tm-search-icon-flip) ~ .tm-search-input {
    padding-left: 40px;
}
.tm-search-default .tm-search-icon-flip ~ .tm-search-input {
    padding-right: 40px;
}

.tm-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}

/* Modal */

@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fade-out {
	from {opacity: 1;}
	to {opacity: 0;}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fade-in 0.5s;
}
.overlay.hide {
	animation: fade-out 0.5s;
}

.turbo-modal {
	width: 480px;
	text-align: center;
	padding: 4px 4px 10px 10px;
    border-radius: 5px;
    margin: 100px auto;
    box-sizing: border-box;
	background-color: #FFF;
	box-shadow: 0.5em 0.5em 2em #999;
	border: #CCC 1px solid;
}

.turbo-modal-footer {
	margin-top: 1em;
}

.turbo-modal-footer button {
	margin: 0 0.5em;
}

.turbo-modal-header {
	padding: 6px 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.turbo-modal-title {
	font-size: 1.2rem;
	font-weight: 200;
}

.turbo-modal-close {
	cursor: pointer;
	font-size: 24px;
}

.turbo-modal-body {

	padding: 10px;
}

.turbo-modal-backdrop {
	background: rgba(33,33,33,0.5);
}

.test {
	width: 480px;
}

.test-timeline {
	width: 50%;
}

/* ========================================================================
    Component: Accordion
========================================================================== */
.accordion__article {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 10px 0 0;
}

.accordion {
    background-color: white;
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    letter-spacing: normal;
    min-height: 48px;
    outline: none;
    padding: 0 8px 0 16px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: #444;
    border: none;
    transition: background-color 0.6s ease;
}

.accordion:hover {
    background-color: #F2F2F2;
}

.accordion__title {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: left;
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    overflow: hidden;
    padding: 12px 4px 12px 0;
}

.accordion__title__bordered {
    border-bottom: 1px solid #EBEBEB;
}

.accordion.active .accordion__title {
    font-weight: bold;
    color: #222;
}

.accordion_right_icon {
    align-self: center;
    margin: 0;
    min-width: 24px;
    display: inline-flex;
    justify-content: flex-end;
}

.accordion__icon {
    align-items: center;
    display: inline-flex;
    font-size: 24px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 0.6s ease;
}

.accordion__rotate {
    transform: rotate(90deg);
}

.accordion__content {
    background-color: white;
    overflow: hidden;
    padding-left: 20px;
}

.accordion__text {
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
}

.tc-transition-enter {
    overflow: hidden;
}

.tc-transition-leave {
    overflow: hidden;
}

/*

*/

.btn {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .09em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .09em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow,transform,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn__content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity;
}

.btn--is-elevated {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btn:not(.btn--round) {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
}

.btn {
    color: #fff;
	cursor: pointer;
	border-style: none;
	font-size: .875rem;
}

.btn.primary {
    background-color: #1867c0 !important;
    border-color: #1867c0 !important;
}

.btn.error {
	background-color: #ff5252 !important;
    border-color: #ff5252 !important;
}

.btn.success {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}

/* ========================================================================
    Component: Highlight tag PRE
========================================================================== */

pre {
    font: 14px / 1.5 'Roboto Mono',monospace !important;
    color: #666;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
    padding: 25px;
    border: 0 solid #e5e5e5;
    border-radius: 0;
    background: #f8f8f8;
}

pre, address, figure {
    margin: 0 0 20px 0;
}

pre code {
    font-family: 'Roboto Mono', monospace;
}

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp {
    font-family: 'Roboto Mono',monospace;
    font-size: 14px;
    color: #f0506e;
    white-space: nowrap;
    padding: 2px 6px;
    background: #f8f8f8;
}

.hljs {
    display:block;
    color: #333;
}
.hljs-comment,
.hljs-meta {
    color: #969896
}
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
    color: #f0506e;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
    color: #1f34aa;
}
.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
    color: #0086b3;
}
.hljs-section,
.hljs-name {
    color: #63a35c;
}
.hljs-tag {
    color: #333;
}
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #795da3;
}
.hljs-addition {
    color: #55a532;
    background-color:#eaffea;
}
.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
}.hljs-link {
    text-decoration:underline;
}

.bg-blue{background-color:#0664af}.bg-grey{background-color:#f5f5f5}.bg-grey_hover:hover{background-color:#f5f5f50c}.bg-grey-dark{background-color:#d7d7d7}.bg-red{background-color:#fe3032}.bg-dark{background-color:#929292}.bg-yellow{background-color:#fdffa8}.bg-dark-yellow{background-color:#ffeb3b}.bg-white{background-color:#ffffff}.bg-transparent{background-color:transparent}.color-white{color:#fff}.color-success{color:#3DC372}.color-danger{color:#e44e56}.color-blue,.color-blue:hover,.color-blue:visited,.color-blue:focus{color:#0262ae}.primary{color:#1976d2}.primary.light{color:#42a5f5}.primary.dark{color:#1565c0}.secondary{color:#9c27b0}.secondary.light{color:#ba68c8}.secondary.dark{color:#7b1fa2}.success{color:#2e7d32}.success.light{color:#4caf50}.success.dark{color:#1b5e20}.warning{color:#ED6C02}.warning.light{color:#ff9800}.warning.dark{color:#e65100}.error{color:#d32f2f}.error.light{color:#ef5350}.error.dark{color:#c62828}.info{color:#0288d1}.info.light{color:#03a9f4}.info.dark{color:#01579b}.grey{color:grey}.inherit{color:inherit}.text-secondary{color:rgba(0,0,0,0.6)}.text-primary{color:#20262d}.text-right{text-align:right !important}.text-left{text-align:left !important}.text-justify{text-align:justify}.text-bold{font-weight:bold}.text-clipped{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0 1px;margin:0 -1px;max-width:100%;vertical-align:top}.display-flex{display:flex}.border-bottom{border:none;border-bottom:1px solid #ebebeb}.inline-block{display:inline-block}.fs10{font-size:10px}.fs11{font-size:11px}.fs12{font-size:12px}.fs13{font-size:13px}.fs14{font-size:14px}.fs15{font-size:15px}.fs16{font-size:16px}.fs17{font-size:17px}.fs18{font-size:18px}.v-align-middle{vertical-align:middle}.v-align-top{vertical-align:top}.v-align-text-top{vertical-align:text-top}.modal__wrapper{display:inline-block;max-width:99%;max-height:100%;position:relative;text-align:left;vertical-align:middle;box-sizing:border-box;box-shadow:0px 0px 25px -10px;border-radius:3px;overflow:hidden}.modal__header{padding-right:40px;position:relative;font-size:18px}.modal__body{width:100%;box-sizing:border-box;overflow:auto}.modal__footer{border-top:1px solid #e7e8ec}.modal__body,.modal__label{background-color:#fff}.modal__header,.modal__body,.modal__footer{padding:15px 15px}.modal__body>.cancel,.modal__header .cancel{width:14px;height:14px;padding:10px;position:absolute;top:0;right:0;font-size:14px;background:none;outline:none;cursor:pointer;box-sizing:content-box;color:#d9d9d9}.modal__header .cancel{margin:auto;bottom:0;right:5px}.modal__body>.cancel:hover,.modal__header .cancel:hover{color:#FF2828}.tm-infocode-title{margin-bottom:11px;display:block;text-align:left}.tm-infocode-content{background:#f1f3f4;margin-bottom:16px;overflow-wrap:break-word;position:relative;text-align:left}.tm-infocode-content pre{background:#f1f3f4;color:#3c4043;padding:8px;white-space:normal;word-break:break-all;margin:0px}.tm-infocode-navbtn{background:#f1f3f4;color:#5f6368;display:block;margin-top:-8px;text-align:right}.tm-infocode-icon{padding:0;min-width:0;width:40px;height:40px;flex-shrink:0;line-height:40px;border-radius:50%;text-align:center;cursor:pointer}.tm-infocode-icon svg{vertical-align:middle}.tm-infocode-icon .font-icon{vertical-align:middle;line-height:2;font-size:20px}.tm-infocode-icon .font-icon.success{color:#9acd32}.tooltip{position:relative}.tooltip .tooltiptext{visibility:hidden;width:140px;background-color:#555;color:#fff;text-align:center;border-radius:6px;padding:5px;position:absolute;z-index:1;bottom:150%;left:50%;margin-left:-75px;opacity:0;transition:opacity 0.3s ease-in-out}.tooltip .tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 transparent transparent transparent}.tooltip:hover .tooltiptext.hovered,.tooltip .tooltiptext.active{visibility:visible;opacity:1}.timeline-root{display:flex;flex-direction:column;padding:6px 16px;flex-grow:1}.timeline-item{list-style:none;display:flex;position:relative;min-height:70px}.timeline-item.reverse{-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.timeline-item.position-alternate:nth-of-type(even){-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.timeline-item.position-alternate:nth-of-type(even)>.timeline-content{text-align:right}.timeline-item.position-alternate:nth-of-type(even)>.timeline-opposite-content{text-align:left}.timeline-item.position-alternate>.timeline-content{text-align:left}.timeline-item.position-alternate>.timeline-opposite-content{text-align:right}.timeline-content{flex:1;padding:6px 16px}.timeline-item.position-left.missing-opposite-content.reverse .timeline-content{text-align:right}.timeline-item.position-right.missing-opposite-content .timeline-content{text-align:left}.timeline-opposite-content{padding:6px 16px;margin-right:auto;text-align:right;flex:1}.missing-opposite-content:before{content:"";flex:1;padding:6px 16px}.timeline-separator{display:flex;flex-direction:column;flex:0;align-items:center}.timeline-dot{display:flex;align-self:baseline;border-style:solid;border-width:2px;padding:4px;border-radius:50%;box-shadow:0px 2px 1px -1px RGB(0 0 0/20%),0px 1px 1px 0px RGB(0 0 0/14%),0px 1px 3px 0px RGB(0 0 0/12%);margin:11.5px 0}.timeline-dot.grey-filled{border-color:transparent;color:#fafafa;background-color:#bdbdbd}.timeline-dot.grey-outlined{box-shadow:none;color:#20262d;border-color:#bdbdbd;background-color:transparent}.timeline-dot.primary-filled{border-color:transparent;color:#fff;background-color:#1976d2}.timeline-dot.primary-outlined{box-shadow:none;background-color:transparent;border-color:#1976d2}.timeline-dot.secondary-filled{border-color:transparent;color:#fff;background-color:#9c27b0}.timeline-dot.secondary-outlined{box-shadow:none;background-color:transparent;border-color:#9c27b0}.timeline-dot.success-filled{border-color:transparent;color:#fff;background-color:#4caf50}.timeline-dot.success-outlined{box-shadow:none;background-color:transparent;border-color:#4caf50}.timeline-dot.error-filled{border-color:transparent;color:#fff;background-color:#ef5350}.timeline-connector{width:2px;background-color:#bdbdbd;flex-grow:1}.sign-list .timeline-opposite-content{flex:0.1}.sign-list .timeline-dot{align-self:auto}.sign-list .timeline-separator{min-width:32px}.timeline-accordion-title{cursor:pointer}.timeline-open>.timeline-accordion-title::before{background-image:url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E)}.timeline-accordion-title::before{content:"";width:1.4em;height:1.4em;margin-left:10px;float:right;background-image:url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);background-repeat:no-repeat;background-position:50% 50%}.timeline-accordion-content{display:flow-root;overflow:hidden;transition:max-height 0.2s ease-out}.timeline-accordion-content .border-bottom{max-width:calc(100% - 48px)}.timeline-accordion-subcontent{display:flow-root;overflow:hidden;transition:max-height 0.2s ease-out}.turbo-visa *{box-sizing:border-box}.turbo-visa__history-item .turbo-visa__history-item{display:flex;flex-direction:column;margin:10px 10px 10px 0;padding:5px}.history-item__title{margin:0;font-weight:500;font-size:1.1rem;line-height:1.6;letter-spacing:0.0075em}.history-item__content{font-weight:400;font-size:1rem;line-height:1.5;letter-spacing:0.00938em}.sign-list .elevation{box-shadow:0 3px 1px -2px RGBA(0, 0, 0, 0.2),0 2px 2px 0 RGBA(0, 0, 0, 0.14),0 1px 5px 0 RGBA(0, 0, 0, 0.12) !important}.sign-list .spacebetween{display:flex;justify-content:space-between}.sign-list .short-info{max-width:calc(100% - 48px)}.sign-list .sign-list-panel{min-width:550px;padding-right:46px}.sign-list-container .timeline-content{min-width:400px}.switcher-checkbox-root{font-size:0;position:relative;display:inline-block;width:32px;height:20px;background:#B3C3D3;border-radius:10px;margin:10px;cursor:pointer}.switcher-checkbox-root.switcher-checkbox-disabled{opacity:0.4;cursor:not-allowed}.switcher-checkbox-root.switcher-checkbox-checked{background:#42a5f5}.switcher-checkbox-input{cursor:inherit;position:absolute;width:100%;height:100%;top:0;left:0;opacity:0;z-index:1;margin:0}.switcher-checkbox-tumb{display:block;width:14px;height:14px;top:3px;left:3px;border-radius:16px;background-color:#fff;position:relative;transition:all 200ms ease}.switcher-checkbox-tumb.switcher-checkbox-focus-visible{background-color:#fff;box-shadow:0 0 1px 8px rgba(0,0,0,0.25)}.switcher-checkbox-tumb.switcher-checkbox-checked{left:14px;top:3px;background-color:#fff}.switcher-label-placement-start{display:inline-flex;-webkit-box-align:center;align-items:center;cursor:pointer;vertical-align:middle;-webkit-tap-highlight-color:transparent;margin-left:16px;margin-right:-11px;flex-direction:row-reverse}

/* !font icons */
@font-face {
    font-family: "Turbocontract";
    src: url(fonts/5dc4be4ddb25df95590afd533583ab9f.eot);
    src: url("fonts/5dc4be4ddb25df95590afd533583ab9f.eot?#iefix'")
         format('embedded-opentype'),
         url(fonts/ac8d5aee242fe9d8b17c96b4b43d70d4.woff) format("woff"),
         url(fonts/4253432888c4e70c589e1e9b403b476d.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-icon {
    text-transform: none;
    font-family: "Turbocontract";
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-icon.facebook::before {
    content: "\E001";
}

.font-icon.twitter::before {
    content: "\E002";
}

.font-icon.vk::before {
    content: "\E003";
}

.font-icon.youtube::before {
    content: "\E03B";
}

.font-icon.phone::before {
    content: "\E004";
}

.font-icon.question-circle::before {
    content: "\E005";
}

.font-icon.share::before {
    content: "\E006";
}

.font-icon.mail::before {
    content: "\E007";
}

.font-icon.pencil::before {
    content: "\E008";
}

.font-icon.file::before {
    content: "\E009";
}

.font-icon.v-file::before {
    content: "\E03E";
}

.font-icon.files::before {
    content: "\E00A";
}

.font-icon.circle-plus::before {
    content: "\E00B";
}

.font-icon.circle-close::before {
    content: "\E00C";
}

.font-icon.folder::before {
    content: "\E00D";
}

.font-icon.zoom::before {
    content: "\E00E";
}

.font-icon.cancel::before {
    content: "\E00F";
}

.font-icon.lock::before {
    content: "\E010";
}

.font-icon.eye::before {
    content: "\E011";
}

.font-icon.strike-eye::before {
    content: "\E012";
}

.font-icon.user::before {
    content: "\E013";
}

.font-icon.bell::before {
    content: "\E014";
}

.font-icon.users::before {
    content: "\E015";
}

.font-icon.pdf::before {
    content: "\E016";
}

.font-icon.time::before {
    content: "\E017";
}

.font-icon.word::before {
    content: "\E018";
}

.font-icon.icon-message::before {
    content: "\E019";
}

.font-icon.icon-chat::before {
    content: "\E01A";
}

.font-icon.enter-arrow::before {
    content: "\E01B";
}

.font-icon.home::before {
    content: "\E01C";
}

.font-icon.coins::before {
    content: "\E01D";
}

.font-icon.settings::before {
    content: "\E01E";
}

.font-icon.nav-panel::before {
    content: "\E01F";
}

.font-icon.bell-circuit::before {
    content: "\E020";
}

.font-icon.warning::before {
    content: "\E021";
}

.font-icon.ball::before {
    content: "\E022";
}

.font-icon.case::before {
    content: "\E023";
}

.font-icon.exit::before {
    content: "\E024";
}

.font-icon.chain::before {
    content: "\E025";
}

.font-icon.key::before {
    content: "\E026";
}

.font-icon.success::before {
    content: "\E027";
}

.font-icon.icon-requisites::before {
    content: "\E028";
}

.font-icon.download-doc::before {
    content: "\E029";
}

.font-icon.add-doc::before {
    content: "\E02A";
}

.font-icon.add-user::before {
    content: "\E02B";
}

.font-icon.repeat-doc::before {
    content: "\E02C";
}

.font-icon.star-doc::before {
    content: "\E02D";
}

.font-icon.settings-doc::before {
    content: "\E02E";
}

.font-icon.archive::before {
    content: "\E02F";
}

.font-icon.hands::before {
    content: "\E030";
}

.font-icon.icon-date::before {
    content: "\E031";
}

.font-icon.icon-menu::before {
    content: "\E032";
}

.font-icon.icon-city::before {
    content: "\E033";
}

.font-icon.icon-num::before {
    content: "\E034";
}

.font-icon.icon-print::before {
    content: "\E035";
}

.font-icon.icon-font::before {
    content: "\E036";
}

.font-icon.icon-trash::before {
    content: "\E037";
}

.font-icon.icon-tools::before {
    content: "\E038";
}

.font-icon.icon-copy::before {
    content: "\E039";
}

.font-icon.icon-registry::before {
    content: "\E03A";
}

.font-icon.icon-box::before {
    content: "\E03C";
}

.font-icon.icon-cloud::before {
    content: "\E03D";
}

.font-icon.icon-text-left::before {
    content: "\E03F";
}

.font-icon.icon-text-center::before {
    content: "\E040";
}

.font-icon.icon-text-right::before {
    content: "\E041";
}

.font-icon.icon-text-justify::before {
    content: "\E042";
}

.font-icon.icon-text-indent-left::before {
    content: "\E043";
}

.font-icon.icon-text-indent-right::before {
    content: "\E044";
}

.font-icon.success-doc::before {
    content: "\E045";
}

.font-icon.circle-minus::before {
    content: "\E046";
}

.font-icon.closed-folder::before {
    content: "\E047";
}

.font-icon.icon-upload-file::before {
    content: "\E048";
}

.font-icon.icon-attachment-file::before {
    content: "\E049";
}

.font-icon.icon-picture::before {
    content: "\E04A";
}

.font-icon.icon-doc-crown::before {
    content: "\E04B";
}

.font-icon.icon-clip::before {
    content: "\E04C";
}

.font-icon.icon-arrow-top::before {
    content: "\E04D";
}

.font-icon.icon-arrow-right::before {
    content: "\E04E";
}

.font-icon.icon-arrow-bottom::before {
    content: "\E04F";
}

.font-icon.icon-arrow-left::before {
    content: "\E050";
}

.font-icon.icon-number::before {
    content: "\E051";
}

.font-icon.icon-tick::before {
    content: "\E052";
}

.font-icon.icon-arrow-move::before {
    content: "\E053";
}

.font-icon.icon-numeric-item::before {
    content: "\E054";
}

.font-icon.icon-update::before {
    content: "\E055";
}

.font-icon.icon-settings-filled::before {
    content: "\E056";
}

.font-icon.contents-list::before {
    content: "\E058";
}

.font-icon.page-break::before {
    content: "\E059";
}

.font-icon.single-value::before {
    content: "\E05A";
}

.font-icon.multi-values::before {
    content: "\E05B";
}

.font-icon.save::before {
    content: "\E05C";
}

.font-icon.action::before {
    content: "\E05D";
}

.font-icon.share-out::before {
    content: "\E05E";
}

.font-icon.list-settings::before {
    content: "\E05F";
}

/*puzzle*/
.font-icon.icon-fragment::before {
    content: "\E060";
}

.font-icon.link::before {
    content: "\E061";
}

.font-icon.icon-parameter::before {
    content: "\E062";
}

.font-icon.icon-structure::before {
    content: "\E063";
}

.font-icon.contents-list__new::before {
    content: "\E064";
}

.font-icon.template-icon::before {
    content: "\E065";
}

.font-icon.save-folder-icon::before {
    content: "\E066";
}

.font-icon.records-icon::before {
    content: "\E067";
}

.font-icon.required-icon::before {
    content: "\E068";
}

.font-icon.required-full-icon::before {
    content: "\E069";
}

.font-icon.close-icon::before {
    content: "\E06A";
}

.font-icon.fail-icon::before {
    content: "\E06B";
}

.font-icon.filter-icon::before {
    content: "\E06C";
}

.font-icon.filter-icon-selected::before {
    content: "\E06D";
}

.font-icon.xls-icon::before {
    content: "\E06E";
}

.font-icon.visa::before {
    content: "\E06F";
}

.font-icon.time-icon::before {
    content: "\E070";
}

.font-icon.position-icon::before {
    content: "\E071";
}

.font-icon.role-icon::before {
    content: "\E072";
}

.font-icon.sort-icon::before {
    content: "\E073";
}

.font-icon.break-current-page::before {
    content: "\E074";
}

.font-icon.break-next-page::before {
    content: "\E075";
}

.font-icon.subscribe::before {
    content: "\E07B";
}

.font-icon.unsubscribe::before {
    content: "\E07C";
}

.font-icon.fixation::before {
    content: "\E07D";
}

.font-icon.drop-down-arrow::before {
    content: "\E057";
}

.font-icon.lite-arrow-up::before {
    content: "\E076";
}

.font-icon.lite-arrow-down::before {
    content: "\E077";
}

.font-icon.lite-arrow-right::before {
    content: "\E078";
}

.font-icon.lite-arrow-left::before {
    content: "\E079";
}

.font-icon.goal::before {
    content: "\E07A";
}

.font-icon.square-empty::before {
    content: "\E07E";
}

.font-icon.circle-filled::before {
    content: "\E07F";
}

.font-icon.more::before {
    content: "\E080";
}

.font-icon.circle-empty::before {
    content: "\E081";
}

.font-icon.circle-tick::before {
    content: "\E082";
}

.font-icon.circle-more::before {
    content: "\E083";
}

.font-icon.circle-uncompleted::before {
    content: "\E084";
}

.font-icon.circle-notcompleted::before {
    content: "\E085";
}

.font-icon.circle-emptycompleted::before {
    content: "\E086";
}

.font-icon.add-employee::before {
    content: "\E087";
}

.font-icon.employee::before {
    content: "\E088";
}

.font-icon.personal-data::before {
    content: "\E089";
}

.font-icon.flag-finish::before {
    content: "\E08A";
}

.font-icon.flag-start::before {
    content: "\E08B";
}

