@font-face {
	font-family: "turboeditor";
	src: url("../fonts/turboeditor.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/turboeditor.woff") format("woff"),
		 url("../fonts/turboeditor.ttf") format("truetype");
}

.editor-icon {
	line-height: 1;
}

.editor-icon:before {
	font-family: turboeditor !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.editor-icon.ol:before {
	content: "\e001";
}
.editor-icon.ul:before {
	content: "\e002";
}
.editor-icon.picture:before {
	content: "\e003";
}
.editor-icon.table:before {
	content: "\e004";
}
.editor-icon.parameter:before {
	content: "\e005";
}
.editor-icon.close:before {
	content: "\e006";
}
.editor-icon.file-header:before {
	content: "\e007";
}
.editor-icon.file-content:before {
	content: "\e008";
}
.editor-icon.save:before {
	content: "\e009";
}
.editor-icon.generic:before {
	content: "\e00a";
}
.editor-icon.align-bottom-left:before {
	content: "\e00b";
}
.editor-icon.align-left:before {
	content: "\e00c";
}
.editor-icon.align-top-left:before {
	content: "\e00d";
}
.editor-icon.align-bottom-center:before {
	content: "\e00e";
}
.editor-icon.align-center:before {
	content: "\e00f";
}
.editor-icon.align-top-center:before {
	content: "\e010";
}
.editor-icon.align-bottom-right:before {
	content: "\e011";
}
.editor-icon.align-right:before {
	content: "\e012";
}
.editor-icon.align-top-right:before {
	content: "\e013";
}
.editor-icon.icon-font:before {
	content: "\e014";
}
.editor-icon.fill-color:before {
	content: "\e015";
}
.editor-icon.align-both:before {
	content: "\e016";
}
.editor-icon.align-top-both:before {
	content: "\e017";
}
.editor-icon.align-bottom-both:before {
	content: "\e018";
}
.editor-icon.fonr-registry:before {
	content: "\e019";
}
.editor-icon.font-superscript:before {
	content: "\e01a";
}
.editor-icon.font-subscript:before {
	content: "\e01b";
}
.editor-icon.resize-icon:before {
	content: "\e01c";
}
.editor-icon.cut-icon:before {
	content: "\e01d";
}
.editor-icon.proportion-icon:before {
	content: "\e01e";
}
.editor-icon.external-link:before {
	content: "\e01f";
}
.editor-icon.placeholder:before {
	content: "\e020";
}
.editor-icon.bold:before {
	content: "\e021";
}
.editor-icon.italic:before {
	content: "\e022";
}
.editor-icon.underline:before {
	content: "\e023";
}
.editor-icon.symbol:before {
	content: "\e024";
}
.editor-icon.number:before {
	content: "\e025";
}
.editor-icon.undo:before {
	content: "\e026";
}
.editor-icon.redo:before {
	content: "\e027";
}

@font-face {
	font-family: "Turbocontract";
	src: url("../fonts/Turbocontract.eot?#iefix") format("embedded-opentype"),
url("../fonts/Turbocontract.woff") format("woff"),
url("../fonts/Turbocontract.ttf") format("truetype");
}

.font-icon {
	line-height: 1;
}

.font-icon:before {
	font-family: Turbocontract !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.font-icon.facebook:before {
	content: "\e001";
}
.font-icon.twitter:before {
	content: "\e002";
}
.font-icon.vk:before {
	content: "\e003";
}
.font-icon.phone:before {
	content: "\e004";
}
.font-icon.question-circle:before {
	content: "\e005";
}
.font-icon.share:before {
	content: "\e006";
}
.font-icon.mail:before {
	content: "\e007";
}
.font-icon.pencil:before {
	content: "\e008";
}
.font-icon.file:before {
	content: "\e009";
}
.font-icon.files:before {
	content: "\e00a";
}
.font-icon.circle-plus:before {
	content: "\e00b";
}
.font-icon.circle-close:before {
	content: "\e00c";
}
.font-icon.folder:before {
	content: "\e00d";
}
.font-icon.zoom:before {
	content: "\e00e";
}
.font-icon.cancel:before {
	content: "\e00f";
}
.font-icon.lock:before {
	content: "\e010";
}
.font-icon.eye:before {
	content: "\e011";
}
.font-icon.strike-eye:before {
	content: "\e012";
}
.font-icon.user:before {
	content: "\e013";
}
.font-icon.bell:before {
	content: "\e014";
}
.font-icon.users:before {
	content: "\e015";
}
.font-icon.pdf:before {
	content: "\e016";
}
.font-icon.time:before {
	content: "\e017";
}
.font-icon.word:before {
	content: "\e018";
}
.font-icon.message:before {
	content: "\e019";
}
.font-icon.chat:before {
	content: "\e01a";
}
.font-icon.enter-arrow:before {
	content: "\e01b";
}
.font-icon.home:before {
	content: "\e01c";
}
.font-icon.coins:before {
	content: "\e01d";
}
.font-icon.settings:before {
	content: "\e01e";
}
.font-icon.nav-panel:before {
	content: "\e01f";
}
.font-icon.bell-circuit:before {
	content: "\e020";
}
.font-icon.warning:before {
	content: "\e021";
}
.font-icon.ball:before {
	content: "\e022";
}
.font-icon.case:before {
	content: "\e023";
}
.font-icon.exit:before {
	content: "\e024";
}
.font-icon.chain:before {
	content: "\e025";
}
.font-icon.key:before {
	content: "\e026";
}
.font-icon.success:before {
	content: "\e027";
}
.font-icon.requisites:before {
	content: "\e028";
}
.font-icon.download-doc:before {
	content: "\e029";
}
.font-icon.add-doc:before {
	content: "\e02a";
}
.font-icon.add-user:before {
	content: "\e02b";
}
.font-icon.repeat-doc:before {
	content: "\e02c";
}
.font-icon.star-doc:before {
	content: "\e02d";
}
.font-icon.settings-doc:before {
	content: "\e02e";
}
.font-icon.archive:before {
	content: "\e02f";
}
.font-icon.hands:before {
	content: "\e030";
}
.font-icon.icon-date:before {
	content: "\e031";
}
.font-icon.icon-menu:before {
	content: "\e032";
}
.font-icon.icon-city:before {
	content: "\e033";
}
.font-icon.icon-num:before {
	content: "\e034";
}
.font-icon.print:before {
	content: "\e035";
}
.font-icon.icon-font:before {
	content: "\e036";
}
.font-icon.trash:before {
	content: "\e037";
}
.font-icon.icon-tools:before {
	content: "\e038";
}
.font-icon.icon-copy:before {
	content: "\e039";
}
.font-icon.icon-registry:before {
	content: "\e03a";
}
.font-icon.youtube:before {
	content: "\e03b";
}
.font-icon.box:before {
	content: "\e03c";
}
.font-icon.cloud:before {
	content: "\e03d";
}
.font-icon.v-file:before {
	content: "\e03e";
}
.font-icon.text-align-left:before {
	content: "\e03f";
}
.font-icon.text-align-center:before {
	content: "\e040";
}
.font-icon.text-align-right:before {
	content: "\e041";
}
.font-icon.text-align-justify:before {
	content: "\e042";
}
.font-icon.text-indent-left:before {
	content: "\e043";
}
.font-icon.text-indent-right:before {
	content: "\e044";
}
.font-icon.circle-minus:before {
	content: "\e045";
}
.font-icon.closed-folder:before {
	content: "\e046";
}
.font-icon.success-doc:before {
	content: "\e047";
}
.font-icon.icon-upload-file:before {
	content: "\e048";
}
.font-icon.icon-attachment-file:before {
	content: "\e049";
}
.font-icon.icon-image:before {
	content: "\e04a";
}
.font-icon.crown-doc:before {
	content: "\e04b";
}
.font-icon.icon-clip:before {
	content: "\e04c";
}
.font-icon.icon-arrow-top:before {
	content: "\e04d";
}
.font-icon.icon-arrow-right:before {
	content: "\e04e";
}
.font-icon.icon-arrow-bottom:before {
	content: "\e04f";
}
.font-icon.icon-arrow-left:before {
	content: "\e050";
}
.font-icon.icon-number:before {
	content: "\e051";
}
.font-icon.icon-tick:before {
	content: "\e052";
}
.font-icon.arrow-move:before {
	content: "\e053";
}
.font-icon.numeric-item:before {
	content: "\e054";
}
.font-icon.icon-update:before {
	content: "\e055";
}
.font-icon.icon-settings-filled:before {
	content: "\e056";
}
.font-icon.drop-down-arrow:before {
	content: "\e057";
}
.font-icon.contents-list:before {
	content: "\e058";
}
.font-icon.page-break:before {
	content: "\e059";
}
.font-icon.single-value:before {
	content: "\e05a";
}
.font-icon.multi-values:before {
	content: "\e05b";
}
.font-icon.save:before {
	content: "\e05c";
}
.font-icon.action:before {
	content: "\e05d";
}
.font-icon.share-out:before {
	content: "\e05e";
}
.font-icon.list-settings:before {
	content: "\e05f";
}
.font-icon.fragment:before {
	content: "\e060";
}
.font-icon.link:before {
	content: "\e061";
}
.font-icon.parameter:before {
	content: "\e062";
}
.font-icon.tree-structure:before {
	content: "\e063";
}
.font-icon.contents-list-new:before {
	content: "\e064";
}
.font-icon.template:before {
	content: "\e065";
}
.font-icon.save-folder-icon:before {
	content: "\e066";
}
.font-icon.records-icon:before {
	content: "\e067";
}
.font-icon.required-icon:before {
	content: "\e068";
}
.font-icon.required-full-icon:before {
	content: "\e069";
}
.font-icon.close-icon:before {
	content: "\e06a";
}
.font-icon.fail-icon:before {
	content: "\e06b";
}
.font-icon.filter-icon:before {
	content: "\e06c";
}
.font-icon.filter-icon-selected:before {
	content: "\e06d";
}
.font-icon.xls-icon:before {
	content: "\e06e";
}
.font-icon.visa:before {
	content: "\e06f";
}
.font-icon.time-icon:before {
	content: "\e070";
}
.font-icon.position-icon:before {
	content: "\e071";
}
.font-icon.role-icon:before {
	content: "\e072";
}
.font-icon.sort-icon:before {
	content: "\e073";
}
.font-icon.break-current-page:before {
	content: "\e074";
}
.font-icon.break-next-page:before {
	content: "\e075";
}
.font-icon.lite-arrow-up:before {
	content: "\e076";
}
.font-icon.lite-arrow-down:before {
	content: "\e077";
}
.font-icon.lite-arrow-right:before {
	content: "\e078";
}
.font-icon.lite-arrow-left:before {
	content: "\e079";
}
.font-icon.goal:before {
	content: "\e07a";
}
.font-icon.subscribe:before {
	content: "\e07b";
}
.font-icon.unsubscribe:before {
	content: "\e07c";
}
.font-icon.fixation:before {
	content: "\e07d";
}
.font-icon.square-empty:before {
	content: "\e07e";
}
.font-icon.circle-filled:before {
	content: "\e07f";
}
.font-icon.more:before {
	content: "\e080";
}
.font-icon.circle-empty:before {
	content: "\e081";
}
.font-icon.circle-tick:before {
	content: "\e082";
}
.font-icon.circle-more:before {
	content: "\e083";
}
.font-icon.circle-uncompleted:before {
	content: "\e084";
}
.font-icon.circle-notcompleted:before {
	content: "\e085";
}
.font-icon.circle-emptytcompleted:before {
	content: "\e086";
}
.font-icon.add-employee:before {
	content: "\e087";
}
.font-icon.employee:before {
	content: "\e088";
}
.font-icon.personal-data:before {
	content: "\e089";
}
.font-icon.flag-finish:before {
	content: "\e08a";
}
.font-icon.flag-start:before {
	content: "\e08b";
}
.font-icon.smart-toy:before {
	content: "\e08c";
}
.font-icon.filter-remove:before {
	content: "\e08d";
}
.font-icon.file-code:before {
	content: "\e08e";
}
.font-icon.annex-add:before {
	content: "\e08f";
}
.font-icon.annex-file--add:before {
	content: "\e090";
}
.font-icon.history-doc:before {
	content: "\e091";
}

