$header-height: 34px;
$second-backgroud-color: #f1f3f4;

$global-color-success: YellowGreen;
$global-custom-color-bgblue: #0664af;
$global-custom-color-bggrey: #f5f5f5;
$global-custom-color-white: #fff;

$global-theme-shadows: 0px 2px 1px -1px RGB(0 0 0 / 20%), 0px 1px 1px 0px RGB(0 0 0 / 14%), 0px 1px 3px 0px RGB(0 0 0 / 12%);


$theme-palette-grey-50: #fafafa;
$theme-palette-grey-400: #bdbdbd;
$theme-palette-grey-contrastText: #20262d;

$theme-palette-primary-contrastText: #fff;
$theme-palette-primary-main: #1976d2;
$theme-palette-primary-light: #42a5f5;
$theme-palette-primary-dark: #1565c0;

$theme-palette-secondary-contrastText: #fff ;
$theme-palette-secondary-main: #9c27b0;
$theme-palette-secondary-light: #ba68c8;
$theme-palette-secondary-dark: #7b1fa2;

$theme-palette-error-main: #d32f2f;
$theme-palette-error-light: #ef5350;
$theme-palette-error-dark: #c62828;

$theme-palette-warning-main: #ED6C02;
$theme-palette-warning-light: #ff9800;
$theme-palette-warning-dark: #e65100;

$theme-palette-info-main: #0288d1;
$theme-palette-info-light: #03a9f4;
$theme-palette-info-dark: #01579b;

$theme-palette-success-main: #2e7d32;
$theme-palette-success-light: #4caf50;
$theme-palette-success-dark: #1b5e20;
