$header-height: 34px;
$second-backgroud-color: #f1f3f4;

$global-color-success: YellowGreen;
$global-custom-color-bgblue: #0664af;
$global-custom-color-bggrey: #f5f5f5;
$global-custom-color-white: #fff;


