.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.text-clipped {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1px;
    margin: 0 -1px;
    max-width: 100%;
    vertical-align: top;
}

.display-flex {
    display: flex;
}

.display-initial {
    display: initial;
}

.border-bottom {
    border: none;
    border-bottom: 1px solid #ebebeb;
}

.inline-block {
    display: inline-block;
}

.fs10 {
    font-size: 10px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.v-align-middle {
    vertical-align: middle;
}

.v-align-top {
    vertical-align: top;
}

.v-align-text-top {
    vertical-align: text-top;
}

.dashed-text, .dashed-link, .dashed-link-note {
    border-bottom: 1px dashed;
}
.dashed-link, .dotted-link, .solid-link {
    display: inline-block;
}
.dashed-link, .dotted-link, .solid-link, .dashed-text, .dotted-text, .solid-text {
    line-height: normal;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}
