/* Custom Colors */
@import "variables";

.bg-blue {
    background-color: $global-custom-color-bgblue;
}

.bg-grey {
    background-color: $global-custom-color-bggrey;
}

.color-white {
    color: $global-custom-color-white;
}
