/* Custom Colors */
@import "variables";

.bg-blue {
    background-color: $global-custom-color-bgblue;
}

.bg-grey {
    background-color: $global-custom-color-bggrey;
}

.bg-grey_hover:hover {
    background-color: #f5f5f50c;
}

.bg-grey-dark {
    background-color: #d7d7d7;
}

.bg-red {
    background-color: #fe3032;
}

.bg-dark {
    background-color: #929292;
}

.bg-yellow {
    background-color: #fdffa8;
}

.bg-dark-yellow {
    background-color: #ffeb3b;
}

.bg-white {
    background-color: #ffffff;
}

.bg-transparent {
    background-color: transparent;
}

.color-white {
    color: $global-custom-color-white;
}

.color-success {
    color: #3DC372;
}

.color-danger {
    color: #e44e56;
}

.color-blue,
.color-blue:hover,
.color-blue:visited,
.color-blue:focus {
    color: #0262ae;
}

.color-primary {
    color: $theme-palette-primary-main;

    &.light {
        color: $theme-palette-primary-light;
    }

    &.dark {
        color: $theme-palette-primary-dark;
    }
}

.color-secondary {
    color: $theme-palette-secondary-main;

    &.light {
        color: $theme-palette-secondary-light;
    }

    &.dark {
        color: $theme-palette-secondary-dark;
    }
}

.color-success {
    color: $theme-palette-success-main;

    &.light {
        color: $theme-palette-success-light;
    }

    &.dark {
        color: $theme-palette-success-dark;
    }
}

.color-warning {
    color: $theme-palette-warning-main;

    &.light {
        color: $theme-palette-warning-light;
    }

    &.dark {
        color: $theme-palette-warning-dark;
    }
}

.color-error {
    color: $theme-palette-error-main;

    &.light {
        color: $theme-palette-error-light;
    }

    &.dark {
        color: $theme-palette-error-dark;
    }
}

.color-info {
    color: $theme-palette-info-main;

    &.light {
        color: $theme-palette-info-light;
    }

    &.dark {
        color: $theme-palette-info-dark;
    }
}

.color-grey {
    color: grey;
}

.inherit {
    color: inherit;
}

.text-secondary {
    color: $global-color-text-secondary;
}
.text-primary {
    // color: #20262d;
    color: $global-color-text-primary;
}
