/* Signing List */
.turbo-visa * {
    box-sizing: border-box;
}

.turbo-visa__history-item {
    .turbo-visa__history-item {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 0;
        padding: 5px;
    }
}

.history-item__title {
    // font-weight: 700;
    // border-bottom: 1px solid #ccc;
    // padding-bottom: 3px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin: 0;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.history-item__content {
    // margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.sign-list {
    .elevation {
        box-shadow: 0 3px 1px -2px RGBA(0,0,0,.2),0 2px 2px 0 RGBA(0,0,0,.14),0 1px 5px 0 RGBA(0,0,0,.12)!important;
    }

    .spacebetween {
        display: flex;
        justify-content: space-between ;
    }

    .short-info {
        max-width: calc(100% - 48px);
    }

    .sign-list-panel {
        min-width: 550px;
        padding-right: 46px;
    }



    .tm-search-default {
        .tm-search-icon {
            color: $global-color-text-secondary;
        }

        .tm-search-input {
            border: none;
            border-bottom: 1px solid #e5e5e5;
        }

        .tm-search-input:focus {
            width: 400px;
        }
    }
}

.sign-list-container .timeline-content {
    min-width: 400px;
}
