/* Signing List */
.turbo-visa * {
    box-sizing: border-box;
}

.turbo-visa__history-item {
    .turbo-visa__history-item {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 0;
        padding: 5px;
        cursor: pointer;
    }
}

.history-item__title {
    // font-weight: 700;
    // border-bottom: 1px solid #ccc;
    // padding-bottom: 3px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin: 0;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.history-item__content {
    // margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.sign-list {
    .elevation {
        box-shadow: 0 3px 1px -2px RGBA(0,0,0,.2),0 2px 2px 0 RGBA(0,0,0,.14),0 1px 5px 0 RGBA(0,0,0,.12)!important;
    }

    .spacebetween {
        display: flex;
        justify-content: space-between ;
        align-items: center;
    }

    .short-info {
        max-width: calc(100% - 48px);
    }

    .full-info {
        //max-width: calc(100% - 20px) !important;
        max-width: calc(100% - 44px) !important;

    }

    .sign-list-panel {
        min-width: 550px;
        padding-right: 46px;
    }

    .tm-search-default {
        .tm-search-icon {
            color: $global-color-text-secondary;
        }

        .tm-search-input {
            border: none;
            border-bottom: 1px solid #e5e5e5;
        }

        .tm-search-input:focus {
            width: 400px;
        }
    }

    .dashed-text {
        border-bottom: 1px dashed;
        border-color: $global-color-link-default;
    }

    .dashed-text:hover {
        border: none;
    }

    .tc-search-line {
        min-width: 400px;
    }

    // CARD

    .v-sheet.v-card:not(.v-sheet--outlined) {
        // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    }

    .v-sheet.v-card {
        border-radius: 4px;
        &.full-info {
            min-width: 380px;
            margin: 5px 2px 20px 2px;
        }
    }

    .theme--light.v-card {
        background-color: #fff;
        color: rgba(0,0,0,.87);
    }

    .v-card {
        border-width: thin;
        display: block;
        max-width: 100%;
        outline: none;
        text-decoration: none;
        transition-property: box-shadow,opacity;
        overflow-wrap: break-word;
        position: relative;
        white-space: normal;
    }

    .v-card__title {
        // align-items: center;
        // display: flex;
        // flex-wrap: wrap;
        // font-size: 1.25rem;
        // font-weight: 500;
        // letter-spacing: .0125em;
        // line-height: 2rem;
        // word-break: break-all;
    }

    .v-card__body {
        border-radius: 4px;
        border-left: solid 1px $theme-palette-grey-400;
        border-right: solid 1px $theme-palette-grey-400;
        border-bottom: solid 1px $theme-palette-grey-400;
        border-top-left-radius: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        -webkit-border-top-right-radius: 0px;

    }

    .v-card__subtitle, .v-card__text, .v-card__title {
        padding: 10px 16px;

        &.aprove {
            // background-color: #62c367!important;
            // border-color: #62c367!important;
            background-color: $theme-palette-success-light !important;
            border-color: $theme-palette-success-light !important;
            color: white;
        }

        &.disaprove {
            background-color: $theme-palette-error-light !important;
            border-color: $theme-palette-error-light !important;
            // background-color: #d8946c!important;
            // border-color: #d8946c!important;
            color: white;
        }
    }

    .v-card__footer {
        padding: 8px 0px 4px 0px;
        border-top: 1px solid #e5e5e5;
    }

    .v-card>.v-card__progress+:not(.v-btn), .v-card>:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}

.sign-list-container .timeline-content {
    min-width: 400px;
}
