.tooltip {
    position: relative;
    // position: fixed;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        width: 124px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 2px;
        // position: absolute;
        position: fixed;
        z-index: 1;
        // bottom: 110%;
        // left: 50%;
        margin-left: -56px;
        margin-top: -50px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }
}

.tooltip:hover .tooltiptext.hovered,
.tooltip .tooltiptext.active {
    visibility: visible;
    opacity: 1;
}
